<%= form_with url: destroy_all_locations_path, method: :delete do %>
    <div class="form-group">
        <div class="btn-group">
            <%= submit_tag "Delete All Locations", class: "btn1 btn-danger", data: {confirm: "Are you sure you want to delete all locations?" } %>
        </div>
    </div>
<% end %>